
<p>
  <mat-toolbar color="primary">
    <a routerLink="/" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
      <span>VRX</span>
    </a>

    <span class="example-spacer"></span>
      <a routerLink="/login" mat-icon-button class="login-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>login</mat-icon><span>Login</span>
      </a>
      <a routerLink="/signup" mat-icon-button class="register-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <span>Register</span>
      </a>


  </mat-toolbar>
</p>
