<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center">
        <mat-card>
        <div class="container text-center mt20">
          <img src="../../../assets/book-logo.jpg" alt=""/>
        </div>
        <h1 class="text-center"> Login Here !!</h1>

        <form action="">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>User Name</mat-label>
            <input required matInput placeholder="Enter Username*" name="username">
          </mat-form-field>
<!-- User Password -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>User Password</mat-label>
            <input type="password" matInput placeholder="Enter Password*" name="password">
          </mat-form-field>

          <div class="container">
            <button  mat-raised-button color="primary" type="submit">Login</button>
            <button type="reset" class ="ml10" mat-raised-button color="accent">Reset</button>
          </div>
        </form>
      </mat-card>
          </div>
          </div>
          </div>
          </div>
